<!-- override this partial to add content before the head tag closes -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<style>
    .reveal {
        color: #212121;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
    }
    .reveal section h1 {
        color: #0288D1;
        font-size: 3em;
    }
    .reveal section h2 {
        color: #03A9F4;
        font-size: 2em;
    }
    .reveal section h3 {
        color: #4FC3F7;
         font-size: 1.5em; }
    }
    .reveal section img {
        box-shadow: none;
        border: none;
        margin: 0;
    }
    .reveal blockquote {
        box-shadow: none;
        position: relative;
        color: #FFFFFF;
        background: #0288D1;
    }
    .reveal blockquote:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-top-color: #0288D1;
        border-bottom: 0;
        border-left: 0;
        margin-left: -20px;
        margin-bottom: -40px;
    }
    .reveal pre { 
        box-shadow: none;
    }
    .reveal .progress, .reveal .controls {
        color: #0288D1;
    }
</style>
