pre.chroma {
    margin-bottom: 0 !important;
}
pre.chroma code {
    font-size: 1.2em;
}

pre code {
    background-color: inherit;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #2196F3;
}

@media print{
    .nav-right {
        display: none;
    }
}

pre, ul, ol, p, h2 {
    page-break-inside: avoid;
}
