{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    {{ range .Pages.ByTitle }}
    <article>
      <h1 class="title">{{ .Params.subject }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <ul>
        <li><a href="{{ replace .RelPermalink "tp" "cours" }}">Cours</a> [<a href="/pdf/cours/{{path.Dir .Dir}}.pdf" target="_blank">PDF</a>]</li>
        <li><a href="{{ .RelPermalink }}">TP</a> [<a href="/pdf/tp/{{path.Dir .Dir}}.pdf" target="_blank">PDF</a>]</li>
      </ul>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "footer" . }}
