{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    {{ range .Sections.ByWeight }}
    <article>
      <h1 class="title">{{ .Title }}</h1>
      <ul>
        <ul>
          {{ range .Sections.ByWeight }}
          <li><a href="{{ .RelPermalink }}">{{path.Base .File.Dir | humanize}}</a> {{ if .Draft }} [HIDDEN]{{ end }}</li>
          {{ end }}
          {{ range .Pages.ByWeight }}
          {{ if ne .File.BaseFileName "_index" }}
          <li><a href="{{ .RelPermalink }}">{{.File.BaseFileName | humanize}}</a>
            {{ if .Draft }} [HIDDEN]{{ end }}</li>
          {{ end }}
          {{ end }}
        </ul>
      </ul>
    </article>
    {{ end }}

    {{ if .Site.Params.form }}
    <article>
      <ul>
        <li><a style="font-weight: bold;"
            href="{{ .Site.Params.form }}">Questionnaire
            d'évaluation sur le cours</a>
        </li>
      </ul>
    </article>
    {{ end }}

  </div>
</section>
{{ partial "footer" . }}
